<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">
    <logger name="ru.javabegin.training.springlibrary">
        <level value="info"/>
    </logger>

    <logger name="org.springframework.core">
        <level value="info"/>
    </logger>

    <logger name="org.springframework.beans">
        <level value="info"/>
    </logger>

    <logger name="org.springframework.context">
        <level value="info"/>
    </logger>

    <logger name="org.springframework.web">
        <level value="info"/>
    </logger>

    <!-- Root Logger -->
    <root>
        <priority value="warn"/>
        <appender-ref ref="console"/>
    </root>

</Configuration>